<h2>Enter Information</h2>


<%= form_for @reg_form, html: {class: 'entry-form'} do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>   
  <%= f.fields_for :address do |address| %>
    <%= render :partial => 'shared/address', :locals => {:f => address} %>
  <% end %>
   
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>