<%= form_for @user, html: {class: 'form'} do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.password_field :password, placeholder: "Password" %></li>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></li>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%= link_to 'Or log in', login_path %>
<% end %>