<h2>Enter Information</h2>


<%= form_for @follow_up_form do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :want_to_volunteer %>
    <%= f.check_box :want_to_volunteer %>
  </p>
  <p>
    <%= f.label :subscribe_to_sms %>
    <%= f.check_box :subscribe_to_sms %>
  </p> 
  <p> 
    <%= fields_for @follow_up_form.address do |f| %>
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>